@font-face {
  font-family: 'intelly-icons';
  src:url('fonts/icomoon.eot?ckurm8');
  src:url('fonts/icomoon.eot?ckurm8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ckurm8') format('truetype'),
    url('fonts/icomoon.woff?ckurm8') format('woff'),
    url('fonts/icomoon.svg?ckurm8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
