html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
}

h1, h2, ul, li, p, a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

li {
  list-style: none;
}

