.posts {
  padding-left: 20%;
  padding-right: 20%;
  & .title {
    @include set-font ($color-high-contrast, $font-largest, $font-medium);
  }
  & .copy {
    @include set-font ($color-low-contrast, $font-large, $font-light);
  }
  & article {
    padding-top: 7%;
  }
  & .button {
    @include button($color-background, $color-high-contrast, $font-smallest);
  }
  & input, & textarea {
    border: 0;
  }
  & textarea, & .title {
    width: 100%;
  }
  & textarea {
    height: 5em;
  }
  @media (max-width: 500px) {
    & .title {
      font-size: $font-larger;
    }
    & .copy {
      font-size: $font-large;
    }
  }
}

.blog-post-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5em;
  width: 100%;
  padding-bottom: 5%;
  border-bottom: 1px solid $color-low-contrast;
  @media (max-width: 500px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  }
  @media (max-width: 500px) {
    height: 8em;
  }
}

.credits {
  @include set-font ($color-low-contrast, $font-small, $font-light);
  font-style: italic;
}

.l-credits {
  & li {
    padding-right: 2%;
  }
  & span {
    padding-right: 2%;
  }
  @media (max-width: 500px) {
    & span {
      display: none;
    }
  }
}