.contact .button {
  @include button($color-low-contrast, $color-highlight, $font-smaller, $color-high-contrast, $color-background);
  margin-left: 5%;
  margin-right: 5%;
}

.footer-main {
  top: 20%;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
}

.contact {
  border-top: 1px solid $color-low-contrast;
  & h3 {
    @include set-font ($color-background, $font-largest, $font-medium);
  }
  & p {
    @include set-font ($color-background, $font-small);
  }
  & header {
    padding-bottom: 5%;
  }
}

.links {
  padding-bottom: 5%;
  width: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  @include set-font ($color-high-contrast, $font-normal);
  display: flex;
  flex-direction: row;
}

.social-media-contact {
  color: blue;
}

small {
  @include set-font ($color-high-contrast, $font-tiny);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.25%; 
  padding-right: 35%; 
  padding-bottom: 0.25%; 
  padding-left:   35%;
  border-top: 1px solid $color-low-contrast;
  & a {
    flex-grow: 0.01;
  }
  & p {
    flex-grow: 0.01;
    text-transform: capitalize;
  }
}