%social-icons {
  font-family: 'intelly-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  border-radius: 100%;
  transition: color 0.25s, background-color 0.25s;
  color: white;
}
