// Header:
// H1 - Ubuntu, Medium, 56pt
// Nav - Ubuntu, Regular, 24pt

// Content:
// H1 - Roboto Slab, Regular, 80pt
// Text - Roboto Slab, Light, 56pt

// Links - Ubuntu, Bold, 24pt
// Share - Ubuntu, Medium, 24pt

// Blog H1 - Ubuntu, Regular, 72pt
// Blog text - Ubuntu, Light, 42pt
// Blog credits - Ubuntu, Light, Italic, 32pt
// Blog buttons - Ubuntu, Medium, 24pt

// Contact H1 - Ubuntu, Medium, 72pt
// Contact text - Ubuntu, Regular, 32pt
// Contact buttons - Ubuntu, Medium, 28pt

// Footer:
// Info - Ubuntu, Regular, 36pt
// Social - Ubuntu, Bold, 24pt
// Copyright - Ubuntu, Regular, 22pt

// ***** Font-Families *****
$primary-font: "Ubuntu", sans-serif;
$secondary-font: "Roboto Slab", serif;

// ***** Font-Weights *****
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;

// ***** Font-Styles *****
$font-italic: italic;

// ***** Font-Sizes *****
$font-base: 16px;
$font-size-modifier: 0.4167;

$font-tiny: 1.8em * $font-size-modifier;      // 22pt
$font-smallest: 2em * $font-size-modifier;    // 24pt
$font-smaller: 2.3em * $font-size-modifier;   // 28pt
$font-small: 2.55em * $font-size-modifier;    // 32pt
$font-normal: 3em * $font-size-modifier;      // 36pt
$font-large: 3.5em * $font-size-modifier;     // 42pt
$font-larger: 4.67em * $font-size-modifier;   // 56pt
$font-largest: 6em * $font-size-modifier;     // 72pt
$font-huge: 6.67em * $font-size-modifier;     // 80pt

// ***** Icons *****
$icons:
(google-plus "\e600")
(facebook "\e601")
(twitter "\e602")
(linkedin2 "\e603")
(pinterest "\e604")
(pinterest2 "\e605");

// ***** Colors *****
$color-background: #ffffff;            // white
$color-high-contrast: #1e1d24;         // off black
$color-low-contrast: #b4b3b5;          // light grey
$color-highlight: #97f1e7;             // aqua
$color-highlight-contrast: #5a8785;    // dark grey

@mixin highlight-font ($color, $font-size: $font-smallest, $font: "auto", $upper: "auto") {
  font-size: $font-size;
  color: $color;
  @if $font != "auto" {
    font-family: $font;
  }
  @if $upper != "auto" {
  text-transform: uppercase;
  }
}

@mixin button($text-color, $background-color, $font-size, $hover-text: $background-color, $hover-background: $text-color) {
  @include highlight-font($text-color, $font-size, auto, uppercase);
  min-width: 30%;
  padding: 1% 3% 1% 3%;
  border: 1px solid $color-low-contrast;
  border-radius: 5%/20%;
  color: $text-color;
  background-color: $background-color;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    color: $hover-text;
    background-color: $hover-background;
  }
  &:active {
    border: 2px solid $text-color;
  }
}

.posts .button {
  @include button($color-background, $color-high-contrast, $font-smallest);
}

.contact .button {
  @include button($color-low-contrast, $color-highlight, $font-smaller, $color-high-contrast, $color-background)
}

.page-header {
  background-color: $color-high-contrast;
  & h1 {
    color: $color-background;
    font-size: $font-larger;
  }
  & .site-nav {
    @include highlight-font($color-background, $font-smallest, auto, uppercase);
    font-weight: $font-regular;
  }
  & .site-nav a:hover {
    background-color: $color-high-contrast;
    color: $color-background;
  }
  & .site-nav a:active {
    color: $color-highlight;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  transition: color 0.3s, background-color 0.3s;
  & a {
    padding: 0 5% 0 5%;
  }
  & span {
    padding: 0 13% 0 13%;
  }
  & a:visited {
    color: $color-low-contrast;
  }
}

.l-page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  @media (min-width: 500px) { 
  // ***adjust to appropriate breakpoint width/
    flex-direction: row;
    align-items: center;
    & h1 {
      padding-left: 10%;
      margin-right: auto;
    }
    & .site-nav {
      margin: auto;
      padding-right: 10%;
    }
  }
}

.content {
  & header, & footer {
    background-color: $color-highlight;
  }
  & header {
      font-family: $secondary-font;
    & h1 {
      color: $color-high-contrast;
      font-size: $font-huge;
      font-weight: $font-regular;
    } 
    & h2 {
      color: $color-highlight-contrast;
      font-size: $font-larger;
      font-weight: $font-light;
    }
  }
  & .site-nav {
    @include highlight-font($color-high-contrast, $font-smallest, auto, uppercase);
  }
  & .site-nav a:hover{
    background-color: $color-high-contrast;
    color: $color-background;
  }
}

.content-header-bar {
  background-color: $color-background;
  border-bottom: 1px solid $color-low-contrast;
}

.l-content-header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-content {
  & header h1, & footer {
    margin: 0;
    padding: 5% 5% 2% 10%;
  }
  & header h2 {
    padding: 0% 35% 10% 10%;
  }
  & .site-nav {
    margin-right: auto;
  }
  & .l-social-media-share {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-left: auto;
  }
}

small {
  @include highlight-font($color-high-contrast);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.25% 0 1% 0;
  padding: 0.25% 20% 0.25% 20%;
  border-top: 1px solid $color-low-contrast;
  & a {
    flex-grow: 0.5;
  }
  & p {
    flex-grow: 0.5;
    text-transform: capitalize !important;
  }
}