$icons:
(google-plus "\e600")
(facebook "\e601")
(twitter "\e602")
(linkedin2 "\e603")
(pinterest "\e604")
(pinterest2 "\e605");

$color-background: #ffffff;            // white
$color-high-contrast: #1e1d24;         // off black
$color-low-contrast: #b4b3b5;          // light grey
$color-highlight: #97f1e7;             // aqua
$color-highlight-contrast: #5a8785;     // dark grey

@mixin highlight-font ($color) {
  font-family: Arial, sans;
  font-size: 10px;
}

@mixin button($text-color, $background-color, $hover-text: $background-color, $hover-background: $text-color) {
  @include highlight-font($text-color);
  min-width: 30%;
  padding: 1% 3% 1% 3%;
  text-transform: uppercase;
  border: 1px solid $color-low-contrast;
  border-radius: 5%/20%;
  color: $text-color;
  background-color: $background-color;
  transition: color 0.3s, backgound-color 0.3s;
  &:hover {
    color: $hover-text;
    background-color: $hover-background;
  }
  &:active {
    border: 2px solid $text-color;
  }
}


.posts .button {
  @include button($color-background, $color-high-contrast);
}

.contact .button {
  @include button($color-low-contrast, $color-highlight, $color-high-contrast, $color-background)
}
