<form ng-submit="vm.save()">
  <div class="blogs posts l-posts">
    <input class="title" type="text" ng-model="vm.blog.title" placeholder="Title">
    <textarea class="copy" type="text" ng-model="vm.blog.content" placeholder="Content"></textarea>
    <div class="blog-post-footer">
      <ul class="credits l-credits">
        <li><input type="text" ng-model="vm.blog.author" placeholder="Author"></li><span>•</span>
        <li><input type="text" ng-model="vm.blog.comments" placeholder="Comments"></li>
      </ul>
    <input class="button" type="submit" name="Submit">
  </div>
</form>
